/* *{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.header{
margin-top: 50px;
}
.header ul{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.header ul li{
    cursor: pointer;
    font-size: 10px;

}
.header ul li:hover{
    color: green;
}
.sections{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#section-2, #section-3, #section-4{
    display: none;
}
#option-1{
    color: green;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-div{
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    padding-top: 30px;
    -webkit-box-shadow: 1px 8px 4px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 8px 4px -7px rgba(0,0,0,0.75);
box-shadow: 1px 8px 4px -7px rgba(0,0,0,0.75);
}
img{
    width: 100px;
}
#bar{
    font-size: 30px;
    display: none;
}
#cross{
    display: none;
}
a{
    font-size: 17px;
    font-weight: 500px;
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
a:hover{
    color: blue;
}
#unItems{
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
button{
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
}

@media(max-width:950px){
    #unItems{
        display: none;
        flex-direction: column;
        align-items: flex-start;
       width: 950px;
        margin-top: 60px;
        padding:  20px 25px;
        /* border: 1px solid red; */
        background-color: #fff;
        position: absolute;
        top: -500px;
        left: 0;
        transition: 0.5s;
        -webkit-box-shadow: 1px 8px 4px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 8px 4px -7px rgba(0,0,0,0.75);
        box-shadow: 1px 8px 4px -7px rgba(0,0,0,0.75);
    }
    #cross{
        display: block;
        font-size: 30px;
    }
    button{
        position: absolute;
        top: 25px;
        right: 20px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        /* padding: 0px 30px; */
        /* flex-direction: column; */
    }
    #bar{
        display: block;
    }
}